<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Segrify</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="/eel.js"></script>
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="container">
        <h1 class="items">Paste path to your Folder</h1>
        <input
        type="text"
        name="path"
        id="path"
        class="items"
        placeholder="  Enter path here"
        />
        <div id="result"></div>
        <button class="items" onclick="run()">Segrify</button>
        <button class="items" onclick="select()">Choose folder</button>
      </div>
      <footer>
        <div>
          Made with 🖤 by
          <a href="https://github.com/Akash2199">Akash</a>
          <a href="https://github.com/Nakul1931">Nakul</a>
          <a href="https://github.com/nitishrkt">Nitish</a>
          <a href="https://github.com/paritosh-34">Paritosh</a>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
